[submodule "awesome"]
	path = .config/awesome
	url = git@github.com:renzhamin/configs-awesome
    branch = master

[submodule "neovim"]
	path = .config/nvim
	url = git@github.com:renzhamin/configs-neovim
    branch = master
