[submodule "awesome"]
	path = .config/awesome
	url = https://github.com/renzhamin/configs-awesome
    branch = main

[submodule "neovim"]
	path = .config/nvim
    url = https://github.com/renzhamin/configs-neovim
    branch = main
