*
!aliases
!aliases_arch
!picom.conf
!.gitignore
!wallpaper.jpeg

!Scripts
!Scripts/**

!alacritty
!alacritty/**

!systemd
!systemd/**

!zsh
!zsh/**

!nvim
!nvim/**

!Configs
!Configs/**

!redshift
!redshift/**

!rofi
!rofi/**

!tmux
!tmux/**
